.content{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.content h1{
    font-size: 48px;
}

.itemsContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px 0px;
}

.loading, .error{
    text-align: center;
}